@use '../../../styles/_variables.scss' as tokens;

.countdown-timer {
display: flex;
gap: 10;
flex-direction: row-reverse;

  &__block {
    padding: tokens.$spacing-2;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: tokens.$radius-md;
    
  }
}