// مسیر: packages/design-system/src/styles/global.scss

@use '../theme/_tokens.scss' as tokens; // <-- اینجا از as tokens استفاده می‌کنیم

html, body {
  padding: 0;
  margin: 0;
  font-family: tokens.$font-family-body;
  color: tokens.$color-gray-900; // رنگ متن ثابت
  background-color: tokens.$color-white; // رنگ پس‌زمینه ثابت
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}