@use 'fonts'; // ایمپورت کردن تعاریف فونت

// ✅✅✅ اصلاح شد: مسیر صحیح به فایل توکن‌ها
@use 'variables' as tokens;

html,
body {
  padding: 0;
  margin: 0;
  font-family: tokens.$font-family-base;
  color: var(--color-text-primary); // استفاده از متغیرهای CSS
  background-color: var(--color-bg-body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}