@use '../../../styles/_variables.scss' as tokens;

.slider-product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 300px;
  background-color: tokens.$color-bg-surface;
  border: 1px solid tokens.$color-border-secondary;
  text-decoration: none;
  transition: background-color 0.2s ease;

  // هاور افکت
  &:hover {
    background-color: tokens.$color-bg-secondary;
    
  
  }

  // حذف بردر اولین آیتم (اختیاری)
  .swiper-slide:first-child & {
    // border-right: none; 
  }

  // ✅ استایل کانتینر بج
  &__badge {
    position: absolute;
    top: tokens.$spacing-3;
    right: tokens.$spacing-3;
    z-index: 2; // بالاتر از عکس
  }
  
  &__image-container {
    position: relative;
    height: 9rem;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: tokens.$spacing-3;
  }

  &__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  &__details {
    padding: 0 tokens.$spacing-4 tokens.$spacing-4;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  &__title {
    height: 2.4rem; 
    line-height: 1.2rem;
    font-size: tokens.$font-size-sm;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
    margin-top: tokens.$spacing-2;
    margin-bottom: tokens.$spacing-3;
  }

  &__footer {
    margin-top: auto;
    padding-top: tokens.$spacing-3;
    
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
  }

  &__old-price-wrapper {
    display: flex;
    align-items: center;
  }

  &__old-price {
    font-size: tokens.$font-size-xs; // کمی کوچکتر از قیمت اصلی
    color: tokens.$color-text-placeholder;
    text-decoration: line-through;
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__price {
    font-size: tokens.$font-size-lg;
    font-weight: tokens.$font-weight-bold;
    color: tokens.$color-text-primary;
  }

  &__currency {
    font-size: 10px;
    color: tokens.$color-text-secondary;
    margin-bottom: 2px;
  }
}