@use '../../../styles/_variables.scss' as tokens;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: tokens.$radius-lg;
  font-family: tokens.$font-family-base;
  font-weight: tokens.$font-weight-bold;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  line-height: 1;
  white-space: nowrap;
  
  &:disabled, &--loading {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--full-width { width: 100%; }

  // --- Sizes ---
  &--size-sm {
    height: 32px;
    padding: 0 tokens.$spacing-3;
    font-size: tokens.$font-size-xs;
  }
  &--size-md {
    height: 40px;
    padding: 0 tokens.$spacing-4;
    font-size: tokens.$font-size-sm;
  }
  &--size-lg {
    height: 48px;
    padding: 0 tokens.$spacing-6;
    font-size: tokens.$font-size-base;
  }

  // --- Variants ---
  &--primary {
    background-color: tokens.$color-brand-primary;
    color: tokens.$color-text-on-brand;
    &:hover:not(:disabled) { background-color: tokens.$color-brand-primary-hover; }
  }
  
  &--secondary {
    background-color: tokens.$color-bg-secondary;
    color: tokens.$color-text-primary;
    &:hover:not(:disabled) { background-color: tokens.$color-border-secondary; }
  }

  &--danger {
    background-color: tokens.$color-utility-error;
    color: #fff;
    &:hover:not(:disabled) { opacity: 0.9; }
  }

  &--outline {
    background-color: transparent;
    border-color: tokens.$color-border-primary;
    color: tokens.$color-text-primary;
    &:hover:not(:disabled) { 
      border-color: tokens.$color-brand-primary;
      color: tokens.$color-brand-primary;
    }
  }
  
  &--ghost {
    background-color: transparent;
    color: tokens.$color-text-secondary;
    &:hover:not(:disabled) { 
      background-color: tokens.$color-bg-secondary;
      color: tokens.$color-text-primary;
    }
  }

  &__icon-left { margin-left: tokens.$spacing-2; }
  &__icon-right { margin-right: tokens.$spacing-2; }
}