// packages/design-system/src/components/atoms/Button/Button.scss

@use '../../../theme/tokens' as tokens;

.button {
  font-family: tokens.$font-family-body;
  font-weight: tokens.$font-weight-bold;
  border: 0;
  border-radius: tokens.$border-radius-md;
  // ... بقیه استایل‌ها
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: background-color 0.2s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    opacity: 0.9;
  }
}

// Variants
.button--primary {
  color: tokens.$color-white;
  background-color: tokens.$color-primary;
}

.button--secondary {
  color: tokens.$color-gray-700;
  background-color: tokens.$color-gray-200;
}

.button--danger {
  color: tokens.$color-white;
  background-color: tokens.$color-error;
}

// Sizes
.button--sm {
  font-size: tokens.$font-size-xs;
  padding: tokens.$button-padding-sm;
}
.button--md {
  font-size: tokens.$font-size-sm;
  padding: tokens.$button-padding-md;
}
.button--lg {
  font-size: tokens.$font-size-md;
  padding: tokens.$button-padding-lg;
}