// مسیر: packages/design-system/src/components/atoms/Button/Button.scss

@use '../../../theme/_tokens.scss' as tokens;

.button {
  font-family: tokens.$font-family-body;
  font-weight: tokens.$font-weight-bold;
  border-radius: tokens.$border-radius-md;

  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    opacity: 0.9;
  }
}

// Variants
.button--primary {
  color: tokens.$color-white;
  background-color: tokens.$color-primary;
}

.button--secondary {
  color: tokens.$color-gray-700;
  background-color: tokens.$color-gray-100;
  box-shadow: inset 0 0 0 1px tokens.$color-gray-300;
}

.button--danger {
  color: tokens.$color-white;
  background-color: tokens.$color-error;
}

// Sizes
.button--sm {
  font-size: tokens.$font-size-xs;
  padding: tokens.$button-padding-sm;
}

.button--md {
  font-size: tokens.$font-size-sm;
  padding: tokens.$button-padding-md;
}

.button--lg {
  font-size: tokens.$font-size-md;
  padding: tokens.$button-padding-lg;
}