// packages/design-system/src/components/atoms/Button/Button.scss

// مرحله ۱: فایل توکن‌های مرکزی را وارد می‌کنیم
@import '../../../theme/tokens';

// مرحله ۲: از متغیرها به جای مقادیر هاردکد شده استفاده می‌کنیم
.button {
  font-family: $font-family-body;
  font-weight: $font-weight-bold;
  border: 0;
  border-radius: $border-radius-md;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: background-color 0.2s ease-in-out; // یک افکت زیبا برای تعامل بهتر

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // افزودن حالت هاور برای تجربه کاربری بهتر
  &:not(:disabled):hover {
    opacity: 0.9;
  }
}

// Variants
.button--primary {
  color: $color-white;
  background-color: $color-primary;
}

.button--secondary {
  color: $color-gray-700;
  background-color: $color-gray-200;
}

.button--danger {
  color: $color-white;
  background-color: $color-error;
}

// Sizes
.button--sm {
  font-size: $font-size-xs;
  padding: $button-padding-sm;
}
.button--md {
  font-size: $font-size-sm;
  padding: $button-padding-md;
}
.button--lg {
  font-size: $font-size-md;
  padding: $button-padding-lg;
}