@use '../../../styles/_variables.scss' as tokens;

.profile-edit-form {
  background-color: tokens.$color-bg-surface;
  
  border-radius: tokens.$radius-md;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    gap: tokens.$spacing-3;
    padding: tokens.$spacing-6;
    border-bottom: 1px solid tokens.$color-border-secondary;
  }

  &__icon-wrapper {
    color: tokens.$color-brand-primary;
    display: flex;
    align-items: center;
  }

  &__body {
    padding: tokens.$spacing-6;
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-6;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-4;

    @media (min-width: tokens.$breakpoint-md) {
      flex-direction: row;
    }
  }

  &__col {
    flex: 1;
  }

  &__input {
    width: 100%;
  }

  &__input--ltr {
    text-align: left;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: tokens.$spacing-4;
  }

  &__submit-btn {
    width: 100%;
    
    @media (min-width: tokens.$breakpoint-sm) {
      width: auto;
      min-width: 200px;
    }
  }
}