@use '../../../styles/_variables.scss' as tokens;

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  // پر کردن ارتفاع اسلاید
  max-height: 350px; // کمی بلندتر برای جا شدن المان‌ها
  overflow: hidden;
  border-radius: tokens.$radius-xl;
  background-color: tokens.$color-bg-surface;
  box-shadow: tokens.$shadow-md;
  transition: tokens.$transition-base;
  text-decoration: none;
  padding: tokens.$spacing-3;

  &:hover {
    box-shadow: tokens.$shadow-xl;
    transform: translateY(-4px);
  }

  &__badge {
    position: absolute;
    top: tokens.$spacing-3;
    right: tokens.$spacing-3;
    z-index: 2;
  }
  
  &__image-container {
    position: relative;
    width: 100%;
    height: 160px; // ارتفاع ثابت برای عکس
    margin-bottom: tokens.$spacing-2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    object-fit: contain;
    padding: tokens.$spacing-2;
    transition: transform 0.3s ease;
  }

  &:hover &__image {
    transform: scale(1.05);
  }

  &__details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 tokens.$spacing-2 tokens.$spacing-2;
  }
  
  &__title {
    // تایتل بالا و راست‌چین (پیش‌فرض RTL)
    font-size: tokens.$font-size-sm;
    font-weight: tokens.$font-weight-bold;
    line-height: 1.5;
    margin-bottom: tokens.$spacing-2;
    
    // محدود به ۲ خط
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: right;
  }

  // اگر توضیحات اضافه کردید
  &__description {
    font-size: 11px;
    color: tokens.$color-text-secondary;
    margin-bottom: auto; // هل دادن قیمت به پایین
  }

  &__footer {
    margin-top: 20%; 
    display: flex;
    // ✅ تغییر کلیدی: پخش کردن آیتم‌ها به دو طرف (راست و چپ)
    justify-content: space-between; 
    align-items: flex-end;
   
    padding-top: tokens.$spacing-2;
    border-top: 1px dashed tokens.$color-border-secondary;
  }

  // --- استایل‌های جدید برای بخش قیمت ---

  // سمت راست: شامل بج قرمز و قیمت خط خورده
  &__discount-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // راست‌چین در RTL
    gap: 2px;
  }

  &__discount-badge {
    font-size: 10px;
    padding: 1px 6px;
    border-radius: tokens.$radius-md;
    font-weight: bold;
  }

  &__old-price {
    font-size: 15px;
    color: tokens.$color-text-placeholder;
    text-decoration: line-through;
    // تراز دقیق‌تر
  }

  // سمت چپ: قیمت نهایی
  &__price-section {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 25px;
    // چون space-between زدیم، این خودکار میره چپ
  }

  &__price {
    font-size: tokens.$font-size-lg;
    font-weight: tokens.$font-weight-extra-bold;
    color: tokens.$color-text-primary;
    
  }

  &__currency {
    font-size: 10px;
    font-weight: tokens.$font-weight-medium;
    color: tokens.$color-text-secondary;
    margin-top: 4px; // تراز بصری با عدد درشت
  }
}